<% provide(:title, 'Home') %>
	<div class="center hero-unit">
		<h1>Welcome to Bidding Lounge!</h1>
			<h2> This is the home page for the Bidding Lounge beta website. 
			</h2>
		<%= link_to "Sign up now!", 'signup_path', class: "btn btn-large btn-primary" %>
	</div>
<%= link_to image_tag(" ", alt: "Bidding Lounge"), 'http://rubyonrails.org' %>   # rails.png included for free with every new Rails application. 																									 # Using image_tag help will find it automatically

